[Desktop Entry]
Type=Application
Name=Penetration Mode
Comment=Cybersecurity app for HackerOS Cybersecurity
Exec=/usr/lib/HackerOS/Penetration-Mode/penetration-mode
Icon=/usr/share/HackerOS/ICONS/Penetration-Mode.png
Terminal=false
Categories=System;Security;Network;
