[Desktop Entry]
Name=Penetration Mode
Comment=Red Team workspace — uruchamia się jako zwykła aplikacja na bieżącym pulpicie
Exec=/usr/bin/penetration-mode app
Icon=/usr/share/HackerOS/ICONS/Penetration-Mode.png
Terminal=false
Type=Application
Categories=Security;System;
